[defaults]

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
remote_user = root
host_key_checking = False
nocows=1
vault_password_file = ~/.ssh/ansible_vault_pw
callback_whitelist = profile_tasks

# forks = 30


[ssh_connection]
pipelining = True